<!doctype html>
<html lang='en' data-version='{{timestamp}}'>
<head>
	{{> base/meta}}
		
	{{!-- <meta property="hide-footer-recirc" content="true"> --}}
	

	<!-- smoosh -->
	<link rel='stylesheet' href='bundle.css' />
	<!-- endsmoosh -->

	{{> base/font }}
	
	<!-- smoosh -->
	<script src='critical.js'></script>
	<!-- endsmoosh -->

	{{> base/analytics }}
</head>
<body class='tk-publico'>
	
	{{> base/header }}

	<main>
		{{> story/intro }}
		{{> story/graphic-recent }}
		{{> story/graphic-calls }}
		{{> story/travel}}
		{{> story/graphic-players }}
		{{> story/graphic-when }}
		{{> story/graphic-refs }}
		{{> story/graphic-location }}
		{{> story/graphic-teams }}
		{{> story/outro}}
	</main>

	<script src='bundle.js?version={{timestamp}}'></script>
	
	<script src='https://pudding.cool/assets/scripts/pudding-footer.js'></script>
	
</body>
</html>
