$logo-width = 58px
.graphic__teams
	display none
	+mq('bp-3')
		display block
		
	.graphic__chart
		max-width 55rem
		margin 0 auto
		max-height 480px
		overflow hidden
		position relative
		&.is-visible
			max-height none
			height auto
		&:after
			content ''
			display block
			width 100%
			position absolute
			left 0
			bottom 0rem
			height 2rem
			background-image linear-gradient(to bottom,rgba($primary,0),#fff 66%)
	.teams
		display flex
		flex-wrap wrap
		justify-content flex-start
		margin-bottom 1rem
	.team.is-selected
		.team__logo
			filter grayscale(0%)
			border 1px solid $off-black
			&:hover
				border 1px solid $off-black
		
	.team__logo
		max-width $logo-width
		filter grayscale(100%)
		transition filter 250ms
		cursor pointer
		&:hover
			filter grayscale(0%)
			border 1px dashed $off-black
			
	.game__plays
		margin-bottom 2rem
		.td--committing, .td--disadvantaged
			span 
				font-size 0.65rem
				color $gray-dark
		.ic
			background-color $ic
			// color darken($ic, 60)
		.inc
			background-color $inc
			// color darken($inc, 60)
		.cc
			background-color $cc
			// color darken($cc, 60)
		.cnc 
			background-color $cnc
			// color darken($cnc, 60)
		
		tr:first-child td:nth-child(3) a
			&:after
				content ''
				display inline-block
				opacity 0.33
				width 1rem
				height 0.75rem 
				line-height 1
				margin-left 0.5rem 
				vertical-align middle
				background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAAAwCAMAAACWlYwtAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAADYUExURQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFfwuloAAABHdFJOUwACs7rYoyby1h4/22MIzEnoI5R+YsiI9vR8Dyg4cFzaBx2+t4zx862szyfr7liaCTP1Tpad8CHvFm6Dzm2747A+5NmvhM20dpQwdAAAAP9JREFUSMfFlmdvwjAYhA9CmGUHStl7lk1pGS2jgP//P2pAKKISkYwPKffVukey7PfeA67yLvRVwycnTyuZx38Fa+JBdYq3/oNQ0GZo+U9CSaH41e8WiuqVL/43oazvs78rCL2YgDYDeHchKyhF0ecAA9Q5QAQaB4jBc/9gLAnI2AE+RjMpQBN+mxNg8ikB8NkC5sDXlAEELlNeIgFwpUkAkKuSAKDwSgJQ0UkAYPyQAIQTJMCM/ZSzAPYKxs7RZyQ/EvmV2WFixpkOFOlIo0N1z8Y6vVjo1UYvV3q90wWDrzhMydKeU/OUCVbRBJYq/t/hTehtybJ9ju21flSp+3/FvNNJg/ioWAAAAABJRU5ErkJggg==')
				background-size contain
				background-repeat no-repeat
	
	.button--expand
		width 11rem
		display block
		margin 0 auto
		&.is-hidden
			display none
	
	.chart__key
		text-align right
		margin-bottom 1rem
		&.is-hidden
			display none
	.key__value
		display inline-block
		text-transform uppercase
		font-size 0.8rem
		letter-spacing 0.05em
		width 4rem
		text-align center
		margin 0.25rem
		&.oppose
			background-color $inc
			// color lighten($ic, 30)
		&.favor
			background-color $cnc
			// color darken($inc, 30)
		