.graphic__recent
	.graphic__chart
		max-width 55rem
		margin 0 auto
		height 250px
		overflow hidden
		position relative
		&.is-visible
			height auto
		&:after
			content ''
			display block
			width 100%
			position absolute
			left 0
			bottom 0rem
			height 2rem
			background-image linear-gradient(to bottom,rgba($primary,0),#fff 66%)
	
	.game
		padding 1rem 0 2rem 0
	.game__info
		display flex
		justify-content space-between
		margin-bottom 1rem
		p, a
			display inline-block
			margin 0
			line-height 1
	
	.game__plays
		.td--committing, .td--disadvantaged
			span 
				font-size 0.65rem
				color $gray-dark
		.ic
			background-color $ic
			// color darken($ic, 60)
		.inc
			background-color $inc
			// color darken($inc, 60)
		.cc
			background-color $cc
			// color darken($cc, 60)
		.cnc 
			background-color $cnc
			// color darken($cnc, 60)
	
	.button--expand
		width 11rem
		display block
		margin 0 auto
		