.graphic__players
	.graphic__chart
		max-width $col-width
		margin 0 auto
	.for--ic
		fill $cc
	.for--inc
		fill $cnc
	.against--ic
		fill $ic
	.against--inc
		fill $inc
	.name
		fill $gray-dark
		font-size 13px
		// font-weight 600
	

	.axis path
		stroke none
	
	.axis text
		fill $gray-dark
		font-size 10px
	
	.axis--x line
		stroke #dedede
		stroke-dasharray 3px 3px

	.chart__label
		font-size 0.8rem
		color $gray-dark
		text-transform uppercase
		letter-spacing 0.05em
		margin 0
		height 100%
		overflow hidden
	
	.label__text
		width 50%
		float left
		padding 0 1rem
		&:first-child
			text-align right
		&:last-child
			text-align left
			

