.graphic__location
	max-width 40rem
	margin 0 auto
	.chart__bars
		display flex
		position relative
	.chart__bar
		display inline-block
		height 2rem
		line-height 2rem
		padding 0 0.5rem
		text-transform uppercase
		font-size 0.85rem
	.bar__home
		color $off-black
		text-align left
	.bar__away
		color $off-black
		text-align right
	.bar__mid
		position absolute
		top 0%
		left 50%
		height 2rem
		width 0px
		// margin-right 1px
		border-left 1px dashed $off-black
	