.graphic__location
	.chart__text
		display flex
		justify-content space-between
		p
			margin 0
	.chart__bars
		display flex
	.chart__bar
		display inline-block
		height 1rem
	.bar__home
		background-color $primary
	.bar__away
		background-color $secondary
	.chart__balance:before
		content '\25B4'
		display block
		text-align center
		font-size 1.5rem
		line-height 1
		
	