.graphic__recent
	max-width 60rem
	margin 0 auto
	.graphic__chart
		// max-height 250px
		// overflow hidden
	.game__info
		display flex
		justify-content space-between
		margin-bottom 1rem
		p, a
			display inline-block
			margin 0
			line-height 1
	
	.game__plays
		width 100%
		th
			font-size 0.85rem
			padding 0.25em 0.125em
			background-color white
		tr 
			border-bottom 1px solid #fff
			background-color #eee
		td 
			font-size 0.85rem
			padding 0.25em
		.td--committing, .td--disadvantaged
			span 
				font-size 0.65rem
				color $gray-dark
		.ic
			background-color $ic
			// color darken($ic, 60)
		.inc
			background-color $inc
			// color darken($inc, 60)
		.cc
			background-color $cc
			// color darken($cc, 60)
		.cnc 
			background-color $cnc
			// color darken($cnc, 60)