.graphic__players
	.graphic__chart
		max-width 40rem
		margin 0 auto
	.for--ic
		fill $cc
	.for--inc
		fill $cnc
	.against--ic
		fill $ic
	.against--inc
		fill $inc
	.name
		fill $gray-dark
		font-size 13px
		// font-weight 600
	

	.axis path
		stroke none
	
	.axis text
		fill $gray-dark
		font-size 10px
	
	.axis--x line
		stroke #dedede
		stroke-dasharray 3px 3px
