.intro
	margin 0 auto
	max-width 40rem
	&__hed
		font-size 3rem
		text-align center
		margin-top 5rem
		margin-bottom 1rem
		text-transform uppercase
		line-height 1.2
	&__byline
		text-align center
	&__updated
		text-align center
		text-transform uppercase
		font-size 0.85rem
		color $gray
	&__dek
		span
			color $primary