fontify($whitney, $whitney-hash, 400, $sans, 400, 0.04em)
fontify($mercury, $mercury-hash, 400, $serif, 400, 0.04em)

body
	background #fff
	font-size 16px

p
	line-height 1.6
	margin 1rem 0
	
.graphic
	&__hed
		font-size 1rem
		text-transform uppercase