<div class='graphic__teams'>
	<h2 class='graphic__hed tk-whitney'><strong>Team breakdown</strong></h2>
	<p class='graphic__dek'>This graphic will show a breakdown of how each team has benefited or suffered.</p>
</div>