<div class='graphic graphic__teams'>
	<div class='graphic__intro'>
		<h2 class='graphic__hed'><strong>Team advantage</strong></h2>
		<p class='graphic__dek'>This graphic will show a breakdown of how each team has benefited or suffered.</p>
	</div>
	<div class='graphic__chart tk-roboto'></div>
</div>