<div class='graphic graphic__players'>
	<div class='graphic__intro'>
		<h2 class='graphic__hed tk-canela'><strong>Player bias</strong></h2>
		<p class='graphic__dek'>Is star treatment a thing in the last two minutes? A call is deemed in favor of a player if it was a missed call on them (committing player + INC) or a wrong call against their opponent (disadvantaged player + IC). The opposite logic applies for calls that oppose a player.</p>
	</div>
	<div class='graphic__chart tk-atlas'></div>
	<p class='note align-right tk-atlas'>Note: Only showing players involved in 15+ missed calls</p>
</div>