<div class='graphic graphic__location'>
	<div class='graphic__intro'>
		<h2 class='graphic__hed tk-whitney'><strong>Home court advantage</strong></h2>
		<p class='graphic__dek'>The number of incorrect calls made in favor of the home or away team.</p>
	</div>
	<div class='graphic__chart tk-whitney'>
		<div class='chart__text'>
			<p class='text__home'></p>
			<p class='text__away'></p>
		</div>
		<div class='chart__bars'>
			<span class='chart__bar bar__home'></span>
			<span class='chart__bar bar__away'></span>
			<div class='bar__mid'></div>
		</div>
	</div>
</div>