<div class='graphic__players'>
	<h2 class='graphic__hed tk-whitney'><strong>Player favoritism or targeting</strong></h2>
	<p class='graphic__dek'>This graphic will show the favoritism for different players, including calls both for and against them.</p>
</div>