<div class='graphic graphic__types'>
	<div class='graphic__intro'>
		<h2 class='graphic__hed tk-whitney'><strong>Types of calls wrong</strong></h2>
		<p class='graphic__dek'>This graphic will show a breakdown of the INC and IC types of calls.</p>
	</div>
	{{!-- <video src='assets/travel.mp4' preload autoplay loop -webkit-playsinline></video> --}}
</div>