<div class='graphic graphic__refs'>
	<div class='graphic__intro'>
		<h2 class='graphic__hed tk-canela'><strong>The officials</strong></h2>
		<p class='graphic__dek'>Which officials have a tendency to get more calls right and wrong? Incorrect calls (IC) can be isolated to a specific official, while incorrect non-calls (INC) means the official was part of a trio that missed the call.</p>
	</div>
	<div class='swap'>
		<button class='button--swap'>Change column</button>
	</div>
	<div class='graphic__chart tk-atlas'></div>
	<p class='note align-right tk-atlas'>Note: Only showing officials with 20+ total games</p>
</div>