<div class='graphic graphic__calls'>
	<div class='graphic__intro'>
		<h2 class='graphic__hed'><strong>Types of calls</strong></h2>
		<p class='graphic__dek'>Here is a breakdown of Which calls occur most often at the end of close games. When an infraction is called (or should have been), how often do the officials get it right?</p>
	</div>
	<div class='graphic__chart tk-roboto'></div>
	<p class='note align-right'>Note: Only showing calls with 20+ total infractions</p>
</div>