<div class='graphic graphic__recent'>
	<div class='graphic__intro'>
		<h2 class='graphic__hed tk-whitney'><strong>Recent</strong></h2>
		<p class='graphic__dek'>This graphic will show the most recently reviewed games and plays.</p>
	</div>
	<div class='graphic__chart tk-whitney'></div>
</div>