<div class='graphic graphic__players'>
	<div class='graphic__intro'>
		<h2 class='graphic__hed'><strong>Player advantage</strong></h2>
		<p class='graphic__dek'>This graphic will show the favoritism for different players, including calls both for and against them.</p>
	</div>
	<div class='graphic__chart tk-roboto'></div>
	<p class='note align-right'>Note: Only showing players involved in 15+ missed calls</p>
</div>