<div class='graphic graphic__games'>
	<div class='graphic__intro'>
		<h2 class='graphic__hed tk-canela'><strong>All games</strong></h2>
		<p class='graphic__dek'>Lookup every game to see the calls</p>
	</div>
	<div class='graphic__chart tk-atlas'></div>
</div>