<div class='graphic graphic__calls'>
	<div class='graphic__intro'>
		<h2 class='graphic__hed tk-canela'><strong>Types of calls</strong></h2>
		<p class='graphic__dek'>Here is a breakdown of which calls occur most often at the end of close games. When an infraction is called (or should have been), how often do the officials get it right?</p>
	</div>
	<div class='swap'>
		<button class='button--swap'>Change column</button>
	</div>
	<div class='graphic__chart tk-atlas'></div>
	<p class='note align-right tk-atlas'>Note: Only showing calls with 20+ total infractions</p>
</div>