<div class='graphic graphic__refs'>
	<div class='graphic__intro'>
		<h2 class='graphic__hed'><strong>The officials</strong></h2>
		<p class='graphic__dek'>Which officials have a tendency to get more calls wrong?</p>
	</div>
	<div class='graphic__chart'></div>
</div>