<div class='graphic__location'>
	<h2 class='graphic__hed tk-whitney'><strong>Home court advantage</strong></h2>
	<p>Does a home court advantage truly exist?</p>
	<div class='graphic__chart tk-whitney'>
		<div class='chart__text'>
			<p class='text__home'></p>
			<p class='text__away'></p>
		</div>
		<div class='chart__bars'>
			<span class='chart__bar bar__home'></span>
			<span class='chart__bar bar__away'></span>
		</div>
		<div class='chart__balance'></div>
	</div>
</div>