<div class='graphic graphic__when'>
	<div class='graphic__intro'>
		<h2 class='graphic__hed tk-whitney'><strong>When calls are made</strong></h2>
		<p class='graphic__dek'>This graphic will show when wrong calls are made over the course of the final two minutes.</p>
	</div>
</div>