<div class='graphic graphic__calls'>
	<div class='graphic__intro'>
		<h2 class='graphic__hed'><strong>Types of calls</strong></h2>
		<p class='graphic__dek'>Which calls are the officials getting right more often? When an infraction occured (or should have), how often do the officials get it right?</p>
	</div>
	<div class='graphic__chart tk-roboto'></div>
	{{!-- <video src='assets/travel.mp4' preload autoplay loop -webkit-playsinline></video> --}}
</div>