<div class='graphic graphic__recent'>
	<div class='graphic__intro'>
		<h2 class='graphic__hed tk-whitney'><strong>Recent reviews</strong></h2>
		<p class='graphic__dek'>All calls from the most recently reviewed day of games.</p>
	</div>
	<div class='graphic__chart tk-whitney'></div>
	<button class='button--expand'>Expand to see all</button>
</div>