<div class='graphic graphic__recent'>
	<div class='graphic__intro'>
		<h2 class='graphic__hed tk-atlas'>
			<strong>Recent reviews</strong>
		</h2>
		<p class='graphic__dek'>All calls from the most recently reviewed day of games. Note that
			<strong>CC</strong> = correct call,
			<strong>CNC</strong> = correct non-call,
			<strong>IC</strong> = incorrect call,
			<strong>INC</strong> = incorrect non-call.</p>
	</div>
	<div class='graphic__chart tk-atlas'></div>
	<button class='button--expand'>Expand to see all</button>
</div>