<div class='graphic graphic__players'>
	<div class='graphic__intro'>
		<h2 class='graphic__hed tk-whitney'><strong>Player advantage</strong></h2>
		<p class='graphic__dek'>This graphic will show the favoritism for different players, including calls both for and against them.</p>
	</div>
</div>