<div class='graphic graphic__when'>
	<div class='graphic__intro'>
		<h2 class='graphic__hed tk-canela'><strong>When calls are made</strong></h2>
		<p class='graphic__dek'>The distribution of how many calls are incorrect with how much time remaining in the game.</p>
	</div>
	<div class='graphic__chart tk-atlas'></div>
</div>