<div class='outro'>
	<p>You can download the full dataset <a download href='https://raw.githubusercontent.com/polygraph-cool/last-two-minute-report/master/output/all_games.csv'>here</a>.</p>
	<p>The data and charts are updated daily. Data is collected from the <a target='_blank' href='http://official.nba.com/nba-last-two-minute-reports-archive/'>Last Two Minute Report</a> in conjunction with <a target='_blank' href='http://www.basketball-reference.com/'>Basketball Reference</a>. Officials involved in ICs are manually added. If anyone from the NBA is reading this, for the love of basketball, please release this data in CSV format. Or even better, some 48 minute reports would be great.</p>
	<p>For issues, questions, comments, or feature requests, get in touch at russell@pudding.cool or <a target='_blank' href='https://twitter.com/codenberg'>@codenberg</a>.</p>

</div>