<div class='travel'>
	<p class='travel__above'>A quick breather from all the numbers...</p>
	<video class='travel__video' src='assets/travel.mp4' preload autoplay loop -webkit-playsinline></video>
	<p class='travel__below'>(Refs got that one right)</p>
</div>